@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
body {
	background: #010101;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat';
  height: 100%;
  color: #eee;
  font-weight: bold;
	
}
form {
  background-image: url(https://fsa.zobj.net/crop.php?r=86WSNLn8gqcOzg3YY45LmqQoXZOmPruPFY8nCV5tyWX5451G_fBOBwvJSOIUTnlBdqUFSM58yROXS-CChjsv1ZZbCzeMCeOCDL8ETHPUSczv2P2AnZreQ3lM6d1pwusWsYs_ihr8P8w7xLTp);
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
  height: 35rem;
  text-align: center;
  border-radius: 25px;
}
input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}
button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
font{
  color: #feffa7;
}